In [145]:
import pandas as pd

In [146]:
address = r'C:\Users\32661\Desktop\打卡\打卡信息表.csv'

In [147]:
df = pd.read_csv(address)

In [148]:
spare = ['学校','校区','部门','人员类型','学工号','班级名称','应打卡开始时间','应打卡结束时间',
         '打卡是否异常','是否在渝','健康码颜色','行程码状态','体温情况',
         '新型冠状病毒肺炎主要症状：发热、干咳、乏力、咽痛、嗅(味) 觉减退、腹泻等',
         '打卡省','打卡市','打卡区县','打卡省编码','打卡市编码','打卡区县编码',
        '打卡时间','是否有行程记录','是否有接触记录','是否有共同居住者']

In [149]:
df.drop(list(spare), axis=1, inplace=True)

In [150]:
name = ['蔡青青','冯智颖','廖洪伍','罗梦欣','毛沧海','潘益荧','彭昊宇','屈子航',
        '谭棚文','王月静','文海行','周之淇','肖隆生','周秘','马可利']

In [151]:
df['应打卡日期'] = df['应打卡日期'].str[7:].astype('int')

In [152]:
date = 0
for i in name:
    date += len(df[(df['姓名'] == i) & (df['打卡状态'] == '已打卡') & (df['应打卡日期'] > 18)])

In [153]:
if(date < 12*15*0.9):
    print(date)
    print('False')
else:
    print(date)
    print('True')

117
False

In [160]:
money = []
for i in name:
    wage = 266 + 133 - len(df[(df['姓名'] == i) & (df['打卡状态'] == '未打卡') & (df['应打卡日期'] > 18)])*10
    if (wage > 266):
        wage += 1
    money.append(wage)

In [161]:
result ={"姓名" : name,
 "工资" : money}

In [162]:
pd.DataFrame(result)

     姓名   工资
0   蔡青青  400
1   冯智颖  300
2   廖洪伍  280
3   罗梦欣  390
4   毛沧海  400
5   潘益荧  330
6   彭昊宇  360
7   屈子航  280
8   谭棚文  390
9   王月静  380
10  文海行  370
11  周之淇  290
12  肖隆生  400
13   周秘  400
14  马可利  400